<h1>Comparison of the Elvis Operator in Angular and TypeScript</h1>

<p>
  In JavaScript there are 6 falsey values: NaN, 0, false, "" (empty string),
  null, and undefined.
</p>

<h2>Equality Matrix</h2>

<p>
  See this equality matrix as well:
  <a href="https://dorey.github.io/JavaScript-Equality-Table/"
    >https://dorey.github.io/JavaScript-Equality-Table/</a
  >
</p>

<p>Equality is treated the same in both Angular and TypeScript.</p>

<h3>Angular:</h3>
<table>
  <tr>
    <th></th>
    <th *ngFor="let falseyValCol of jsFalseyValues">
      {{ falseyValCol | falseyValue }}
    </th>
  </tr>
  <tr *ngFor="let falseyValRow of jsFalseyValues">
    <th>
      {{ falseyValRow | falseyValue }}
    </th>
    <td *ngFor="let falseyVal of jsFalseyValues">
      <div [ngClass]="falseyValRow == falseyVal ? 'true' : 'false'">
        {{ falseyValRow | falseyValue }} == {{ falseyVal | falseyValue }} =>
        {{ falseyValRow == falseyVal }}
      </div>
      <div [ngClass]="falseyValRow === falseyVal ? 'true' : 'false'">
        {{ falseyValRow | falseyValue }} === {{ falseyVal | falseyValue }} =>
        {{ falseyValRow === falseyVal }}
      </div>
    </td>
  </tr>
</table>
<h3>TypeScript:</h3>
<table>
  <tr>
    <th></th>
    <th *ngFor="let falseyValCol of jsFalseyValues">
      {{ falseyValCol | falseyValue }}
    </th>
  </tr>
  <tr *ngFor="let falseyValRow of jsFalseyValues">
    <th>
      {{ falseyValRow | falseyValue }}
    </th>
    <td *ngFor="let falseyVal of jsFalseyValues">
      <div
        [ngClass]="abstractEquals(falseyValRow, falseyVal) ? 'true' : 'false'"
      >
        {{ falseyValRow | falseyValue }} == {{ falseyVal | falseyValue }} =>
        {{ abstractEquals(falseyValRow, falseyVal) }}
      </div>
      <div
        [ngClass]="concreteEquals(falseyValRow, falseyVal) ? 'true' : 'false'"
      >
        {{ falseyValRow | falseyValue }} === {{ falseyVal | falseyValue }} =>
        {{ concreteEquals(falseyValRow, falseyVal) }}
      </div>
    </td>
  </tr>
</table>

<pre>
    NaN is special because it is never equal to anything, including itself.
    NaN == NaN => (<span class="value">{{ nany == nany }}</span>)
    NaN === NaN => (<span class="value">{{ nany === nany }}</span>)
</pre>

<h2>Angular Null Safe Operator and TypeScript Optional Chaining</h2>

<div>
  <a
    href="https://angular.io/guide/template-syntax#the-safe-navigation-operator----and-null-property-paths"
    target="_blank"
  >
    https://angular.io/guide/template-syntax#the-safe-navigation-operator----and-null-property-paths</a
  >
  <br />
  <a
    href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#optional-chaining"
    target="_blank"
  >
    https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#optional-chaining</a
  >
</div>

<p>
  Notice how null and undefined are handled differently:
</p>

<pre>
    Given:
        nanyObj = {{ "{" }} foo: NaN {{ "}" }}
    Angular: 
        nanyObj?.foo => (<span class="value">{{ nanyObj?.foo | falseyValue }}</span>)
        nanyObj?.foo?.bar => (<span class="value">{{ nanyObj?.foo?.bar | falseyValue }}</span>)
    TypeScript:
        nanyObj?.foo => (<span class="value">{{ nanyObjElvis() | falseyValue }}</span>)
        nanyObj?.foo?.bar => (<span class="value">{{ nanyObjElvisDotBar() | falseyValue }}</span>)

    Given:
        zeroObj = {{ "{" }} foo: 0 {{ "}" }}
    Angular: 
        zeroObj?.foo => (<span class="value">{{ zeroObj?.foo | falseyValue }}</span>)
        zeroObj?.foo?.bar => (<span class="value">{{ zeroObj?.foo?.bar | falseyValue }}</span>)
    TypeScript:
        zeroObj?.foo => (<span class="value">{{ zeroObjElvis() | falseyValue }}</span>)
        zeroObj?.foo?.bar => (<span class="value">{{ zeroObjElvisDotBar() | falseyValue }}</span>)
        
    Given:
        falseyObj = {{ "{" }} foo: false {{ "}" }}
    Angular: 
        falseyObj?.foo => (<span class="value">{{ falseyObj?.foo | falseyValue }}</span>)
        falseyObj?.foo?.bar => (<span class="value">{{ falseyObj?.foo?.bar | falseyValue }}</span>)
    TypeScript:
        falseyObj?.foo => (<span class="value">{{ falseyObjElvis() | falseyValue }}</span>)
        falseyObj?.foo?.bar => (<span class="value">{{ falseyObjElvisDotBar() | falseyValue }}</span>)
        
    Given:
        emptyStringObj = {{ "{" }} foo: "" {{ "}" }}
    Angular: 
        emptyStringObj?.foo => (<span class="value">{{ emptyStringObj?.foo | falseyValue }}</span>)
        emptyStringObj?.foo?.bar => (<span class="value">{{
    emptyStringObj?.foo?.bar | falseyValue
  }}</span>)
    TypeScript:
        emptyStringObj?.foo => (<span class="value">{{ emptyStringObjElvis() | falseyValue }}</span>)
        emptyStringObj?.foo?.bar => (<span class="value">{{
    emptyStringObjElvisDotBar() | falseyValue
  }}</span>)
        
    Given:
        nullyObj = {{ "{" }} foo: null {{ "}" }}
    Angular: 
        nullyObj?.foo => (<span class="value">{{ nullyObj?.foo | falseyValue }}</span>)
        nullyObj?.foo?.bar => (<span class="value">{{ nullyObj?.foo?.bar | falseyValue }}</span>)
    TypeScript:
        nullyObj?.foo => (<span class="value">{{ nullyObjElvis() | falseyValue }}</span>)
        nullyObj?.foo?.bar => (<span class="value">{{ nullyObjElvisDotBar() | falseyValue }}</span>)   
        
    Given:
        undefinedyObj = {{ "{" }} foo: undefined {{ "}" }}
    Angular: 
        undefinedyObj?.foo => (<span class="value">{{ undefinedyObj?.foo | falseyValue }}</span>)
        undefinedyObj?.foo?.bar => (<span class="value">{{ undefinedyObj?.foo?.bar | falseyValue }}</span>)
    TypeScript:
        undefinedyObj?.foo => (<span class="value">{{ undefinedyObjElvis() | falseyValue }}</span>)
        undefinedyObj?.foo?.bar => (<span class="value">{{
    undefinedyObjElvisDotBar() | falseyValue
  }}</span>)
</pre>

<h2>Array Handling with the Elvis Operator</h2>

<p>Note the differences in syntax:</p>
<p>
  Notice how null and undefined are handled differently:
</p>

<pre>
    Given:
        nanyObj = {{ "{" }} arr: {{ "[ {" }} foo: NaN {{ "} ] }" }}
    Angular: 
        (nanyObj?.arr)[0]?.foo => (<span class="value">{{ (nanyObj?.arr)[0]?.foo | falseyValue }}</span>)
        (nanyObj?.arr)[0]?.foo?.bar => (<span class="value">{{
    (nanyObj?.arr)[0]?.foo?.bar | falseyValue
  }}</span>)
    TypeScript:
        nanyObj?.arr?.[0]?.foo => (<span class="value">{{ nanyObjElvisArr() | falseyValue }}</span>)
        nanyObj?.arr?.[0]?.foo?.bar => (<span class="value">{{
    nanyObjElvisArrDotBar() | falseyValue
  }}</span>)

    Given:
        zeroObj = {{ "{" }} arr: {{ "[ {" }} foo: 0 {{ "} ] }" }}
    Angular: 
        (zeroObj?.arr)[0]?.foo => (<span class="value">{{ (zeroObj?.arr)[0]?.foo | falseyValue }}</span>)
        (zeroObj?.arr)[0]?.foo?.bar => (<span class="value">{{
    (zeroObj?.arr)[0]?.foo?.bar | falseyValue
  }}</span>)
    TypeScript:
        zeroObj?.arr?.[0]?.foo => (<span class="value">{{ zeroObjElvisArr() | falseyValue }}</span>)
        zeroObj?.arr?.[0]?.foo?.bar => (<span class="value">{{
    zeroObjElvisArrDotBar() | falseyValue
  }}</span>)

    Given:
        falseyObj = {{ "{" }} arr: {{ "[ {" }} foo: false {{ "} ] }" }}
    Angular: 
        (falseyObj?.arr)[0]?.foo => (<span class="value">{{
    (falseyObj?.arr)[0]?.foo | falseyValue
  }}</span>)
        (falseyObj?.arr)[0]?.foo?.bar => (<span class="value">{{
    (falseyObj?.arr)[0]?.foo?.bar | falseyValue
  }}</span>)
    TypeScript:
        falseyObj?.arr?.[0]?.foo => (<span class="value">{{ falseyObjElvisArr() | falseyValue }}</span>)
        falseyObj?.arr?.[0]?.foo?.bar => (<span class="value">{{
    falseyObjElvisArrDotBar() | falseyValue
  }}</span>)

    Given:
        emptyStringObj = {{ "{" }} arr: {{ "[ {" }} foo: "" {{ "} ] }" }}
    Angular: 
        (emptyStringObj?.arr)[0]?.foo => (<span class="value">{{
    (emptyStringObj?.arr)[0]?.foo | falseyValue
  }}</span>)
        (emptyStringObj?.arr)[0]?.foo?.bar => (<span class="value">{{
    (emptyStringObj?.arr)[0]?.foo?.bar | falseyValue
  }}</span>)
    TypeScript:
        emptyStringObj?.arr?.[0]?.foo => (<span class="value">{{
    emptyStringObjElvisArr() | falseyValue
  }}</span>)
        emptyStringObj?.arr?.[0]?.foo?.bar => (<span class="value">{{
    emptyStringObjElvisArrDotBar() | falseyValue
  }}</span>)

    Given:
        nullyObj = {{ "{" }} arr: {{ "[ {" }} foo: null {{ "} ] }" }}
    Angular: 
        (nullyObj?.arr)[0]?.foo => (<span class="value">{{ (nullyObj?.arr)[0]?.foo | falseyValue }}</span>)
        (nullyObj?.arr)[0]?.foo?.bar => (<span class="value">{{
    (nullyObj?.arr)[0]?.foo?.bar | falseyValue
  }}</span>)
    TypeScript:
        nullyObj?.arr?.[0]?.foo => (<span class="value">{{ nullyObjElvisArr() | falseyValue }}</span>)
        nullyObj?.arr?.[0]?.foo?.bar => (<span class="value">{{
    nullyObjElvisArrDotBar() | falseyValue
  }}</span>)

    Given:
        undefinedyObj = {{ "{" }} arr: {{ "[ {" }} foo: undefined {{ "} ] }" }}
    Angular: 
        (undefinedyObj?.arr)[0]?.foo => (<span class="value">{{
    (undefinedyObj?.arr)[0]?.foo | falseyValue
  }}</span>)
        (undefinedyObj?.arr)[0]?.foo?.bar => (<span class="value">{{
    (undefinedyObj?.arr)[0]?.foo?.bar | falseyValue
  }}</span>)
    TypeScript:
        undefinedyObj?.arr?.[0]?.foo => (<span class="value">{{
    undefinedyObjElvisArr() | falseyValue
  }}</span>)
        undefinedyObj?.arr?.[0]?.foo?.bar => (<span class="value">{{
    undefinedyObjElvisArrDotBar() | falseyValue
  }}</span>)
</pre>

<h2>Short Circuting with the Elvis Operator</h2>

<pre>
    Given:
        nanyObj = {{ "{" }} foo: NaN {{ "}" }}
    Angular: 
        nanyObj.foo?.not.a.property => <span class="error">ERROR</span>
        nanyObj.foo?.not?.a.property => (<span class="value">{{
    nanyObj.foo?.not?.a.property | falseyValue
  }}</span>)
    TypeScript:
        nanyObj.foo?.not.a.property => <span class="error">ERROR</span>
        nanyObj.foo?.not?.a.property => (<span class="value">{{
    nanyObjElvisShortCircut() | falseyValue
  }}</span>)

    Given:
        zeroObj = {{ "{" }} foo: 0 {{ "}" }}
    Angular: 
        zeroObj.foo?.not.a.property => <span class="error">ERROR</span>
        zeroObj.foo?.not?.a.property => (<span class="value">{{
    zeroObj.foo?.not?.a.property | falseyValue
  }}</span>)
    TypeScript:
        zeroObj.foo?.not.a.property => <span class="error">ERROR</span>
        zeroObj.foo?.not?.a.property => (<span class="value">{{
    zeroObjElvisShortCircut() | falseyValue
  }}</span>)

    Given:
        falseyObj = {{ "{" }} foo: false {{ "}" }}
    Angular: 
        falseyObj.foo?.not.a.property => <span class="error">ERROR</span>
        falseyObj.foo?.not?.a.property => (<span class="value">{{
    falseyObj.foo?.not?.a.property | falseyValue
  }}</span>)
    TypeScript:
        falseyObj.foo?.not.a.property => <span class="error">ERROR</span>
        falseyObj.foo?.not?.a.property => (<span class="value">{{
    falseyObjElvisShortCircut() | falseyValue
  }}</span>)

    Given:
        emptyStringObj = {{ "{" }} foo: "" {{ "}" }}
    Angular: 
        emptyStringObj.foo?.not.a.property => <span class="error">ERROR</span>
        emptyStringObj.foo?.not?.a.property => (<span class="value">{{
    emptyStringObj.foo?.not?.a.property | falseyValue
  }}</span>)
    TypeScript:
        emptyStringObj.foo?.not.a.property => <span class="error">ERROR</span>
        emptyStringObj.foo?.not?.a.property => (<span class="value">{{
    emptyStringObjElvisShortCircut() | falseyValue
  }}</span>)

    Given:
        nullyObj = {{ "{" }} foo: null {{ "}" }}
    Angular: 
        nullyObj.foo?.not.a.property => (<span class="value">{{
    nullyObj.foo?.not.a.property | falseyValue
  }}</span>)
        nullyObj.foo?.not?.a.property => (<span class="value">{{
    nullyObj.foo?.not?.a.property | falseyValue
  }}</span>)
    TypeScript:
        nullyObj.foo?.not.a.property => (<span class="value">{{
    nullyObjElvisShortCircutA() | falseyValue
  }}</span>)
        nullyObj.foo?.not?.a.property => (<span class="value">{{
    nullyObjElvisShortCircut() | falseyValue
  }}</span>)

    Given:
        undefinedyObj = {{ "{" }} foo: undefined {{ "}" }}
    Angular: 
        undefinedyObj.foo?.not.a.property => (<span class="value">{{
    undefinedyObj.foo?.not.a.property | falseyValue
  }}</span>)
        undefinedyObj.foo?.not?.a.property => (<span class="value">{{
    undefinedyObj.foo?.not?.a.property | falseyValue
  }}</span>)
    TypeScript:
        undefinedyObj.foo?.not.a.property => (<span class="value">{{
    undefinedyObjElvisShortCircutA() | falseyValue
  }}</span>)
        undefinedyObj.foo?.not?.a.property => (<span class="value">{{
    undefinedyObjElvisShortCircut() | falseyValue
  }}</span>)

</pre>

<h2>Function Invocations with the Elvis Operator</h2>

<p>Note the function?.() syntax provided by TypeScript</p>

<pre>
    Given:
        nanyObj = {{ "{" }} func: () => NaN {{ "}" }}
    Angular: 
        nanyObj.func() => (<span class="value">{{ nanyObj.func() | falseyValue }}</span>)
        nanyObj.func()?.foo() => <span class="error">ERROR</span>
    TypeScript:
        nanyObj.func() => (<span class="value">{{ nanyObjFunc() | falseyValue }}</span>)
        nanyObj.func()?.foo() => <span class="error">ERROR</span>

    Given:
        zeroObj = {{ "{" }} func: () => 0 {{ "}" }}
    Angular: 
        zeroObj.func() => (<span class="value">{{ zeroObj.func() | falseyValue }}</span>)
        zeroObj.func()?.foo() => <span class="error">ERROR</span>
    TypeScript:
        zeroObj.func() => (<span class="value">{{ zeroObjFunc() | falseyValue }}</span>)
        zeroObj.func()?.foo() => <span class="error">ERROR</span>

    Given:
        falseyObj = {{ "{" }} func: () => false {{ "}" }}
    Angular: 
        falseyObj.func() => (<span class="value">{{ falseyObj.func() | falseyValue }}</span>)
        falseyObj.func()?.foo() => <span class="error">ERROR</span>
    TypeScript:
        falseyObj.func() => (<span class="value">{{ falseyObjFunc() | falseyValue }}</span>)
        falseyObj.func()?.foo() => <span class="error">ERROR</span>

    Given:
        emptyStringObj = {{ "{" }} func: () => "" {{ "}" }}
    Angular: 
        emptyStringObj.func() => (<span class="value">{{ emptyStringObj.func() | falseyValue }}</span>)
        emptyStringObj.func()?.foo() => <span class="error">ERROR</span>
    TypeScript:
        emptyStringObj.func() => (<span class="value">{{ emptyStringObjFunc() | falseyValue }}</span>)
        emptyStringObj.func()?.foo() => <span class="error">ERROR</span>

    Given:
        nullyObj = {{ "{" }} func: () => null {{ "}" }}
    Angular: 
        nullyObj.func() => (<span class="value">{{ nullyObj.func() | falseyValue }}</span>)
        nullyObj.func()?.foo() => (<span class="value">{{ nullyObj.func()?.foo() | falseyValue }}</span>)
    TypeScript:
        nullyObj.func() => (<span class="value">{{ nullyObjFunc() | falseyValue }}</span>)
        nullyObj.func()?.foo() => (<span class="value">{{ nullyObjFuncFoo() | falseyValue }}</span>)

    Given:
        undefinedyObj = {{ "{" }} func: () => undefined {{ "}" }}
    Angular: 
        undefinedyObj.func() => (<span class="value">{{ undefinedyObj.func() | falseyValue }}</span>)
        undefinedyObj.func()?.foo() => (<span class="value">{{
    undefinedyObj.func()?.foo() | falseyValue
  }}</span>)
    TypeScript:
        undefinedyObj.func() => (<span class="value">{{ undefinedyObjFunc() | falseyValue }}</span>)
        undefinedyObj.func()?.foo() => (<span class="value">{{
    undefinedyObjFuncFoo() | falseyValue
  }}</span>)

    Given:
        voidy = () => void 0
    Angular:
        voidy() => (<span class="value">{{ voidy() | falseyValue }}</span>)
        voidy?.() => <span class="error">ERROR</span>
        voidy()?.notAFunction() => (<span class="value">{{ voidy()?.notAFunction() | falseyValue }}</span>)
    TypeScript:
        voidy() => (<span class="value">{{ voidy() | falseyValue }}</span>)
        voidy?.() => (<span class="value">{{ invokeVoidy() | falseyValue }}</span>)
        voidy()?.notAFunction() => (<span class="value">{{
    invokeVoidyNotAFunction() | falseyValue
  }}</span>)
</pre>

<h2>Conclusion</h2>

<p>Angular's Elvis Operator prefers null and TypeScript's prefers undefined.</p>

<p>
  Also study:
  <a
    href="https://www.freecodecamp.org/news/js-type-coercion-explained-27ba3d9a2839/"
    target="_blank"
    >https://www.freecodecamp.org/news/js-type-coercion-explained-27ba3d9a2839/</a
  >
</p>
